@import url("../intro.css");

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
    font-family: "ESRebondGrotesque Bold";
    src: url(../fonts/ESRebondGrotesque-Bold.woff2)format('woff2'),

}

@font-face {
    font-family: "ESRebondGrotesque Medium";
    src: url(../fonts/ESRebondGrotesque-Medium.woff2)format('woff2');
}

@font-face {
    font-family: "ESRebondGrotesque Regular";
    src: url(../fonts/ESRebondGrotesque-Regular.woff2)format('woff2');
}

@font-face {
    font-family: "ESRebondGrotesque Light";
    src: url(../fonts/ESRebondGrotesque-Light.woff2)format('woff2'), ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: #FFF2D9;
}

main,
header {
    background: #FFF2D9;
}


.experiencia-intro,
.suscripcion-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 50px 0px;

}


.experiencia-intro p {
    color: #60605F;
    text-align: center;
    font-family: "Inter";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.28px;
}

.experiencia-intro h3,
.suscripcion-intro h3 {
    color: #171C21;
    text-align: center;
    font-family: "ESRebondGrotesque Bold";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 59.5px */
    padding-bottom: 0px;
    margin: 0px;
}

.suscripcion-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 60px;
}

.suscripcion1,
.suscripcion2,
.suscripcion3 {
    background-color: #FFE6B2;
    display: flex;
    padding: 34px 27px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    align-self: stretch;
    width: 270px;
    height: auto;
    border-radius: 13.642px;

}

.suscripcion1 img,
.suscripcion2 img,
.suscripcion3 img {
    width: auto;
    height: 80px;
}

.suscripcion1 p,
.suscripcion2 p,
.suscripcion3 p {
    margin: 1rem;
    font-size: 17px;
}

.suscripcion-carousel a {
    display: flex;
    padding: 12px 22px;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: #FFC03F;
    text-decoration: none;
    color: #000;
    font-family: 'Inter';

}

/* CAROUSEL */


.slide,
.slide-inner,
.slide-open:checked+.slide-item .slide-item,
.slide-item img,
.slide-control,
.slide-control.prev,
.slide-control.next,
.slide-control:hover #slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3,
.slide-indicador,
.slide-indicador li,
.slide-circulo,
.slide-circulo:hover,
#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo,
.boton-suscripcion1,
.boton-suscripcion1:hover {
    display: none;
}

.gift-texto {
    background-color: #FFC03F;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

}

.gift-texto h3 {
    color: #171C21;
    text-align: center;
    font-family: "ESRebondGrotesque Bold";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    /* 59.5px */
    padding-bottom: 0px;
    margin: 0px;
    width: 430px;

}

.gift-texto p {
    width: 650px;
    font-size: 18px;
    padding-top: 20px;
    margin: 0;
}

.gift-rectangulos {
    padding: 50px 0px;
}

.rectangulo1 {
    display: flex;
    flex-direction: row;
    background-color: #FFD98C;
    width: 55%;
    border-radius: 0px 50px 50px 0px;
    align-items: center;
    justify-content: space-around;
    min-width: 300px;

}

.rectangulo2 {
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFCD65;
    width: 55%;
    border-radius: 50px 0px 0px 50px;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    min-width: 300px;

}

.rectangulo1 img,
.rectangulo2 img {
    width: 110px;

}

.rectangulo1 p,
.rectangulo2 p {
    text-align: start;
    font-family: "Inter";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    width: 330px;
    padding: 10px;
}

/* SECCION CAJA GIFT CARD */

.gift {
    padding: 20px 0px 80px;
}

.gift-box {
    display: flex;
    flex-direction: column;
    background-color: #FFC03F;
    width: 550px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 50px 0px 0px;

}

.gift-box h2 {
    color: white;
    font-family: "ESRebondGrotesque Bold";
    font-size: 40px;
}

.gift-box-items {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 50px;

}

.gift-box-item,
.gift-box-item2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 450px;
    padding-bottom: 20px;

}

/* TARJETAS GIFT */

.tarjetas {
    background-color: #FFCD65;
}

.tarjetas-gift {
    display: flex;
    align-items: center;
    padding: 100px 50px 80px;
    gap: 20px;
    align-self: stretch;
    justify-content: center;


}

.historia-usuario1,
.historia-usuario2,
.historia-usuario3 {
    display: flex;
    height: 409px;
    width: 250px;
    /* padding: 30px 25px 0px; */
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-start; */
    border-radius: 20px;
    background: #FFE6B2;
    border: 2.728px solid #000;
}

.tarjeta-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 25px 0px;

}

.tarjeta-texto p,
.historia-usuario2 p,
.historia-usuario3 p {
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
}

.tarjeta-span {
    background: #FFD98C;
    padding-left: 25px;
}

.historia-usuario1 span,
.historia-usuario2 span,
.historia-usuario3 span {

    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    font-family: "Inter";
    width: 150px;


}

.img-historia {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: stretch;
}

.img-historia img {
    width: 73px;
    height: 73px;
    border-radius: 73px;
}

.perfil-historia {
    display: flex;
    flex-direction: column;
}

.boton-tarjeta {
    padding: 0px 40px;
}

.boton-tarjeta a {
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: #FFC03F;
    text-decoration: none;
    color: #000;
    font-family: 'Inter';
}

.tarjetas-gift .precio {
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #ffff;
    border-radius: 0px 0px 15px 15px;
    gap: 15px;
    padding: 0px 10px;
    align-items: center;
}

.precio p {
    margin: 0;
    font-size: 16px;
    text-align: center;

}

.precio span {
    font-size: 11px;

}



/* SECCION PREGUNTAS */

.faqs-intro {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.faqs-intro h2 {
    color: #171C21;
    text-align: center;
    font-family: "ESRebondGrotesque Bold";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.faqs-intro span,
.preguntasfrecuentes span {
    color: #60605F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "ESRebondGrotesque Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.5%;
    /* 16.88px */
    letter-spacing: 1.6px;

}

.preguntasfrecuentes span {
    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.faqs-intro p {
    color: #60605F;
    text-align: center;
    font-family: "Inter";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 36.4px */
    letter-spacing: -0.28px;
}

.preguntasfrecuentes {

    padding-bottom: 90px;
}

.preguntasfrecuentes p {
    font-size: 22px;
    font-family: "ESRebondGrotesque Light";
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-top: 20px;
}

.preguntasfrecuentes h3 {
    font-family: "ESRebondGrotesque Light";
    line-height: 120%;
    font-size: 20px;
    font-weight: 400;
}

.preguntasfrecuentes ul {
    font-family: "ESRebondGrotesque Light";
    font-size: 22px;
    padding-bottom: 20px;
    padding-left: 25px;
}

.acordeon {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo de los ítems */
.item {
    background: white;
    border-radius: 20px;
    padding: 15px;

}

/* Estilo de los títulos */
.titulo {
    padding: 0px 10px;
    cursor: pointer;
}

.titulo i {
    position: absolute;
    right: 510px;
    transition: transform 0.2s ease;
}

/* Estilo de los contenidos (inicialmente ocultos) */
.contenido {
    display: none;
}

.contenido p {
    font-family: "Inter";
    font-size: 18px;
    padding: 0px 10px;

}



/* Estilo para mostrar el contenido al hacer clic en el título */
.item.open .contenido {
    display: block;
}



@media only screen and (max-width: 807px) {

    .suscripcion-carousel {
        display: none;
    }


    .suscripcion1 a,
    .suscripcion2 a,
    .suscripcion3 a {
        display: flex;
        padding: 12px 22px;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 8px;
        border-radius: 100px;
        background: #FFC03F;
        text-decoration: none;
        color: #000;
        font-family: 'Inter';

    }


    .slide {
        z-index: 0;
        position: relative;
        margin: 25px;
        display: flex;
        background: #FFF9EC;

        /* width: 350px; */
    }

    .slide-inner {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        /* height: calc( 300px + 3em); */
    }

    .slide-open:checked+.slide-item {
        position: static;
        opacity: 100;
    }

    .slide-item {
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
    }

    .slide-item img {
        display: block;
        width: auto;
        height: 80px;
    }

    .slide-control {
        background: rgba(0, 0, 0, 0.28);
        border-radius: 50%;
        cursor: pointer;
        display: none;
        font-size: 40px;
        height: 40px;
        line-height: 2px;
        position: absolute;
        top: 50%;
        cursor: pointer;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: center;
        width: 40px;
        z-index: 1;
    }

    .slide-control.prev {
        left: 2%;
    }

    .slide-control.next {
        right: 2%;
    }

    .slide-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }

    #slide-1:checked~.control-1,
    #slide-2:checked~.control-2,
    #slide-3:checked~.control-3 {
        display: block;
    }

    .slide-indicador {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    .slide-indicador li {
        display: inline-block;
        margin: 0 5px;
    }

    .slide-circulo {
        color: #828282;
        cursor: pointer;
        display: block;
        font-size: 35px;
    }

    .slide-circulo:hover {
        color: #aaaaaa;
    }

    #slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
    #slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
    #slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
        color: #428bca;
    }


    .suscripcion-carousel {
        flex-direction: column;
    }

    .rectangulo1 p,
    .rectangulo2 p {
        width: auto;
    }

    .gift-texto h3 {
        width: auto;
        padding-bottom: 20px;
    }

    .gift-texto p {
        width: auto;
        font-size: 18px;
        padding-top: 20px;
        margin: 0;
    }

    .gift-box {
        margin: 0px 20px;
    }

    .gift-box h2 {
        text-align: center;
    }

    .gift-box-items {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .gift-box-item,
    .gift-box-item2 {
        display: flex;
        flex-direction: column;
        width: 250px;
        gap: 20px;
    }

    .gift-box-item2 li {
        width: 250px !important;
    }

    .tarjetas-gift {
        display: flex;
        flex-direction: column;

    }
}