@import url(../intro.css);

@font-face {
    font-family: "ESRebondGrotesque Bold";
    src: url(../fonts/ESRebondGrotesque-Bold.woff2)format('woff2'),

}

@font-face {
    font-family: "ESRebondGrotesque Medium";
    src: url(../fonts/ESRebondGrotesque-Medium.woff2)format('woff2');
}

@font-face {
    font-family: "ESRebondGrotesque Regular";
    src: url(../fonts/ESRebondGrotesque-Regular.woff2)format('woff2');
}

@font-face {
    font-family: "ESRebondGrotesque Light";
    src: url(../fonts/ESRebondGrotesque-Light.woff2)format('woff2'), ;
}


.politicas-intro {
    display: flex;
    padding: 80px 130px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.politicas-intro h2 {
    color: var(--Base-Black, #171C21);
    text-align: center;
    font-family: "ESRebondGrotesque Bold";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 59.5px */
    padding-bottom: 20px;
}

.politicas-intro span,
.politicas span {
    color: #60605F;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: "ESRebondGrotesque Light";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.5%;
    /* 16.88px */
    letter-spacing: 1.6px;

}

.politicas span {
    display: flex;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.politicas-intro p {
    color: #60605F;

    text-align: center;
    font-family: "Inter";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 36.4px */
    letter-spacing: -0.28px;
}

.politicas {
    background: #FFF9EC;
    padding: 80px 190px 120px 190px;

}

.politicas p {
    font-size: 22px;
    font-family: "ESRebondGrotesque Light";
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-bottom: 20px;

}

.politicas h3 {
    font-family: "ESRebondGrotesque Light";
    padding-bottom: 20px;
    line-height: 120%;
}

.politicas ul {
    font-family: "ESRebondGrotesque Light";
    font-size: 22px;
    padding-bottom: 20px;
    padding-left: 25px;
}

.politicas img {
    padding: 60px;
    align-items: center;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
    font-family: "ESRebondGrotesque Light";
}

@media screen and (max-width: 807px) {

    .politicas-intro {
        display: flex;
        width: auto;
        padding: 60px 30px 80px 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 37px;
    }

    .politicas-intro h2 {
        font-family: "ESRebondGrotesque Bold";
        font-size: 55px;
    }

    .politicas {
        background: #FFF9EC;
        padding: 80px 90px 120px 90px;
    }

    .politicas img {
        padding: 0px;
        align-items: center;
        display: flex;
        width: 300px;
        margin-bottom: 20px;
    }


}

@media only screen and (min-width: 808px) and (max-width: 1353px)   { 
    .politicas img {
        width: 800px;
        padding: 20px 60px 60px 0px;
        align-items: center;
        display: flex;
    }
}